@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

*{
    font-family: poppins;
    padding: 10px

}

body{
    background-color: rgb(185, 185, 193);
}








.header{
    background-color: rgb(255, 149, 68);
    max-height: 150px;
}
#portrait{
    max-width: 200px;
    margin-top: 25px;
    margin-left: 25px;
    position: relative;bottom: 30px;

}

h1{
    position: relative;
    left: 230px; 
    bottom: 210px;
}
h4{
    position: relative;
    left: 230px; 
    bottom: 260px;
}

#navig{
    position: fixed; 
    background-color: beige;
    margin-left: 2000px;
    
}

ul {
    list-style: none;
}









#abtme{
    background-color: rgb(70, 167, 228);
}

h2 {
    position: relative;
    left: 50px;
    bottom: 25px;
}


#pic1 {
    width: 170px;
}

#pic2 {
    max-width: 170px;
}

#pic3 {
    max-width: 170px;
}




#mywork{
    background-color: aquamarine;
    margin-top: 50px;
}








#contacts{
    background-color: rgb(255, 44, 220);
    max-width: 1200px;
    float: none;
}